IMG_NAME=rpi-RTKBase-arm64-desktop
TARGET_HOSTNAME=gnssbs
FIRST_USER_NAME=gnssbs
FIRST_USER_PASS=gnssbs#
DISABLE_FIRST_BOOT_USER_RENAME=1
KEYBOARD_KEYMAP=fi
WPA_COUNTRY=FI
TIMEZONE_DEFAULT=Europe/Helsinki
ENABLE_SSH=1
DEPLOY_COMPRESSION=zip
LOCALE_DEFAULT=en_US.UTF-8
STAGE_LIST="stage0 stage1 stage2 stage3 stage4 stage5"
PI_GEN_REPO=https://github.com/lisoant/pi-gen-rtkbase
arm_64bit=1
