[Unit]
Description=Setup WiFi connection in NetworkManager on first boot
After=network.target
ConditionPathExists=/boot/wpa_supplicant.conf

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wifi-nmsetup.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
